* {
    box-sizing: border-box;
    margin: 0;
}
body {
    min-height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    background-color: #f6f4f4;
    background-image: url("/socialNW.png");
    background-repeat: no-repeat;
}
bodyInWelcome {
    display: grid;
    grid-template-columns: 430px 1fr 430px;
}
h1 {
    text-align: center;
    margin: 20px;
}
h2 {
    margin: 20px;
    font-size: 20px;
    align-items: center;
}
.h2InError {
    color: #a94f2f;
}
.logo {
    width: 100px;
}
img {
    width: 100%;
}
.imgLogo {
    width: 50px;
}
input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
button {
    margin: 10px 10px 10px 20px;
}
